In [1]:
#creating dataframe
import pandas as pd
data = [[1, 2, 3], [4, 5, 6],[7,8,9],[10,11,12]]
df = pd.DataFrame(data)
print(df)

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12

In [6]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [9]:
#Reading files
df = pd.read_csv('/content/gdrive/MyDrive/data.csv')
df.head()

      Name       City certificate
0     Jeel      suart         AWS
1     Meet  ahemdabad      REDHAT
2   Aniket   jamnagar         CEH
3   Sharad    navsari         AWS
4  Bhavdip     Rajkot         AAA

In [21]:
#Slicing manipulations
data = {'A': [1, 2, 'h'], 'B': [4, 5, 'i'], 'C': [7, 8, 'j']}
df = pd.DataFrame(data)
row = df.loc[1]
print("row1 :\n",row)
row = df.loc[2]
print("row2 :\n",row)

row1 :
 A    2
B    5
C    8
Name: 1, dtype: object
row2 :
 A    h
B    i
C    j
Name: 2, dtype: object

In [13]:
rows1_and_2 = df.loc[1:2]
print(rows1_and_2)

   A  B  C
1  2  5  8
2  3  6  9

In [22]:
#Exporting data to files
data = {'A': [1, 2, 'h'], 'B': [4, 5, 'i'], 'C': [7, 8, 'j']}
df = pd.DataFrame(data)
df.to_csv('/content/gdrive/MyDrive/data.csv', index=False)
df = pd.read_csv('/content/gdrive/MyDrive/data.csv')
df.head()

   A  B  C
0  1  4  7
1  2  5  8
2  h  i  j

In [24]:
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
for index, row in df.iterrows():
    a = row['A']
    b = row['B']
    c = row['C']
    d = a + b + c + 1
    e = d / 2
    df.loc[index, 'D'] = d
    df.loc[index, 'E'] = e

print(df)

   A  B  C     D    E
0  1  4  7  13.0  6.5
1  2  5  8  16.0  8.0
2  3  6  9  19.0  9.5

In [25]:

#Use pandas for masking data and reading if in Boolean format.
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
mask = df['A'] > 2
selected_rows = df.loc[mask]
print(selected_rows)

   A  B  C
2  3  6  9